<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canvas</title>
	<link href="css/main.css" rel="stylesheet">    
  </head>
  <body>
    <div class="canvas">
		<div id="canvas" class="wrapper">
			<a href="" onclick="">Update segment</a>
			<div id="line" class="line"></div>
		</div>
	</div>	
    <script src="http://yandex.st/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://yandex.st/jquery-ui/1.10.4/jquery-ui.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>